[Desktop Entry]
Type=Application
Name=Kanban
GenericName=Kanban Board
Comment=Simple kanban board for organizing tasks
Exec=kanban
Icon=io.github.reedgraf.kanban
Terminal=false
Categories=Office;ProjectManagement;Utility;
Keywords=todo;tasks;board;kanban;
StartupWMClass=io.github.reedgraf.kanban
